{
    "mcpServers": {
      "screenshot": {
        "command": "uv",
        "args": [
          "--directory", 
          "/app/mcp/mcp-server-demo", 
          "run", 
          "main.py"]
      }
    }
}